/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
*/

body {
    background-color: black;
    color: aliceblue;
    font-family: Inter;
    }


.cortextoverde {
    color: #D1E500;
    overflow: ;
}

.cortextovinza {
    color: #BEBEBE;
}

p {
    font-size: 20px;
    
}


.textocentro {
    text-align: center;
    margin: 20px 200px 20px 200px;
}

.botaoverde {
    background-color: #D1E500;
    color: black ;
    border-radius: 4px;
    width: 197.13px;
    height: 58px;
}

.empresas {
    list-style: none;
}

.lista {
    list-style: none;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

#botaocenter {
       align-items: center;
}