/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
*/

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

body {
    background-color: #0e0e0e;
    color: rgb(255, 255, 255);
    font-family: Inter;
        }

.cursohtml{
    background-color: aqua;
    padding: 40px;
}




.cortextoverde {
    color: #D1E500;
    overflow: ;
}

.cortextocinza {
    color: #BEBEBE;
}

p {
    font-size: 20px;
}

.alinhamentologo{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 123px;
}

.textocentro {
    text-align: center;
    margin: 20px 200px 20px 200px;
}

.margembaixo40 {
    padding-bottom: 40px;
}

.botaoverde {
    background-color: #D1E500;
    color: black ;
    border-radius: 4px;
    width: 197.13px;
    height: 58px;
    }

.empresas {
    list-style: none;
}

.lista {
    list-style: none;
}

.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    /*gap: 20px;*/
    width: 400px;
    padding: 20px;
 }

.navbar a {
       color: #FFF;
      }


.logo {
    display: flex;
    justify-content: space-around;
    align-items: center;
    }

.nav_list {
    display: flex;
    align-items: center;
    justify-content: center;
}

.botaocenter {
    display: flex;
    justify-content: center;
    align-items: center;
}



    .cursos {
        margin: 86px;
    }

    .designform {
        background-color: rgb(56, 56, 56);
        display: flex;
        flex-direction: column;
        width: 330px;
        height: 480px;
        border-radius: 20px;
       }

       .designform #botaocentra{
        align-items: center;
        justify-content: center;
       }

       .form{
        display: flex;
        justify-content:center;
        padding: 40px;
        background-color: #fafafa;
           }



/*   -------------- */

.container {
    display: flex;
    flex-wrap
}


.container #blocoservico{
    background-color: rgb(56, 56, 56);
    display: flex;
    justify-content:space-around;
    gap: 40px;
    width: 632px;
    height: 180px;
    border-radius: 20px;
   }

.gridservices{
    display: grid;
    grid-template-areas:
    "service1 imgservice"
    "service2 imgservice"
    ;
    justify-content: center;
    align-items: center;
    padding: 80px;
    gap: 20px;
}

.service1{
    grid-area: service1;
}


.service2{
    grid-area: service2;
}

.imgservice{
    grid-area: imgservice;
}

.imgservice img{
    width: 80%;
    border-radius: 20px;
}


.footer{
    display: flex;
    height: 100px;
    background-color: #0e0e0e;
    justify-content: space-around;
    padding: 10px;
    text-decoration: none;
}

.footer ul{
    list-style: none;
    font-size: 60%;
}

#black{
    font-size: medium;
    padding-bottom: 5px;
}

.footer li{
    padding: 4px;
}


.space{
    display: flex;
    margin: 20px 20px 20px 20px;
    background-color: #0e0e0e;
    height: 20px;
}


















