/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
*/

body {
    background-color: black;
    color: aliceblue;
    font-family: Inter;
    }


.cortextoverde {
    color: #D1E500;
    overflow: ;
}

.cortextovinza {
    color: #BEBEBE;
}

p {
    font-size: 20px;
    
}

.alinhamentologo{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 123px;
}

.textocentro {
    text-align: center;
    margin: 20px 200px 20px 200px;
}

.botaoverde {
    background-color: #D1E500;
    color: black ;
    border-radius: 4px;
    width: 197.13px;
    height: 58px;
    }

.empresas {
    list-style: none;
}

.lista {
    list-style: none;
}

.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    /*gap: 20px;*/
    width: 400px;
 }

.navbar a {
       color: #FFF;
      }


.section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    }

.nav_list {
    display: flex;
    align-items: center;
    justify-content: center;
}

.botaocenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

.servicos {
    display: flex;
    gap: 10px;
}

.servicos #alinhaimagem{
    background-color: rgb(56, 56, 56);
    display: flex;
    flex-direction: row;
   justify-content:space-around;
   gap: 40px;
    width: 632px;
    height: 266;
    border-radius: 20px;
   }

.servicos #alinhaimagem img{
    
    margin-top: 20px;
    margin-left: 40px;
    margin-bottom: 20px;
    width: 20px;
    height: 130px;
    }

    .cursos {
        margin: 86px;
    }

    .designform {
        background-color: rgb(56, 56, 56);
        display: flex;
        flex-direction: column;
        width: 330px;
        height: 480px;
        border-radius: 20px;
       }